.bg-drk {
    background-color: #1D1818;
    border-radius: 10px;
    height: 80px;
    margin-top: 1%;
}

.navbar-brand {
    font-size: 40px;
}

.bg-gry {
    background-color: #D9D9D9;
    height: 20px;
    border-radius: 20px;
}

.search-form-wrapper {
    margin-left: auto;
}

.search-form-wrapper button i {
    color: white;
    font-size: 20px;
}

.navbar-icon-wrapper li {
    padding: 7.5px;
}

.navbar-icon-wrapper li a {
    background-color: white;
    color: black;
}

.navbar .navbar-icon-wrapper {
    font-size: 25px;
    margin-left: auto;
    margin-right: initial !important;
}

.bottom-navbar-wrapper {
    margin: 0 auto;
}

/* section 1 */
/* section{
    padding: 4rem 0 3rem;

}
.container{
    max-width: 968px;
    width: 100%;
    margin: auto;
} */


.home-content{
    min-height: 600px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}
.home-text h1{
  
    font-size: 3.4rem;
    margin-bottom: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}